/* General */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);  
}

html, body{
	position: relative;
	background: #333;
	height: 100%;
}

a{
	color: #fff;
	text-decoration: none;
}

/* Menu */
#menu{
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 100%;
	max-width: 800px;
	text-align: center;
}

.menu-item{
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 33.3%;
}

#menu-restart, #menu-instructions, #menu-git{
	display: inline-block;
	padding: 20px 0px;
	cursor: pointer;
}

.menu-icon{
	margin-right: 7px;
}

#menu-restart:hover .menu-icon{
	-webkit-animation:spin 0.5s linear;
    -moz-animation:spin 0.5s linear;
    animation:spin 0.5s linear;
}

/* Content */
#main{
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #fff;
	width: 100%;
}

#canvas{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

#play-button{
	cursor: pointer;
	font-size: 90px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#play-button .no-hover, #play-button:hover .hover{
	display: inline;
}

#play-button .hover, #play-button:hover .no-hover{
	display: none;
}

#play-button .fa-play-circle{
	-webkit-filter: drop-shadow( 0 0 1px rgba(0, 0, 0, 0.5) ); 
	filter: drop-shadow( 0 0 1px rgba(0, 0, 0, 0.5) );
}

.info-header {
	font-weight: 550;
	text-align: center;
}

.info-body {
	text-align: center;
}

/* Instructions */
#instructions{
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	height: 0%;
	width: 100%;
	max-width: 800px;
	background: #333;
	color: #fff;
	transition: 0.5s;
	transition-property: height;
	font-size: 14px;
	text-align: justify;
	overflow-y: hidden;
}

#instructions-text{
	height: 90%;
	padding-left: 5%;
	padding-right: 5%;
	overflow-y: hidden;
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
}

#instructions-text p{
	padding-bottom: 10px;
}

#instructions-close{
	cursor: pointer;
	padding-right: 2%;
	height: 10%;
	text-align: right;
	vertical-align: top;
}

/* Controls */
#controls{
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 80%;
	max-width: 800px;
}

#colour-add{
	vertical-align: top;
	text-align: center;
	padding-top: 20px;
}

#colour-add input{
	cursor: pointer;
	margin-right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px #000;
}

#add-button{
	display: inline-block;
	cursor: pointer;	
	text-align: center;
	background: #fff;
	box-shadow: 1px 1px 3px #000;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	padding: 15px 25px;
	border-radius: 5px;
	width: 200px;
	transition: 0.3s;
}

#add-button:hover{
	background: #000;
	color: #fff;
	transition: 0.3s;
}

#add-button:active{
	background: #222;
	color: #fff;
	transition: 0.1s;
}

#colour-list{
	position: relative;
	padding-top: 20px;
}

.colour-container{
	position: relative;
	width: 50%;
	display: inline-block;
	text-align: center;
}

input{
	position: relative;
	margin-bottom: 10px;
	border-radius: 3px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

#colour-add input{
	font-size: 20px;
}

#colour-list input{
	width: 80%;
	cursor: default;
}

.colour-remove{
	color: #fff;
	cursor: pointer;
	display: inline;
	margin-left: 5px;
	font-size: 12px;
	vertical-align: top;
}

/* Animations */
@-moz-keyframes spin{
	100%{ 
		-moz-transform: rotate(180deg); 
	} 
}
@-webkit-keyframes spin{ 
	100%{ 
		-webkit-transform: rotate(180deg); 
	} 
}
@keyframes spin{ 
	100%{ 
		transform: rotate(180deg); 
	} 
}

/* Responsiveness */
@media screen and  (max-width: 700px){
	#play-button{
		font-size: 70px;
	}
}

@media screen and  (max-width: 600px){
	#play-button{
		font-size: 60px;
	}
}

@media screen and (max-width: 450px){
	.menu-item{
		font-size: 12px;
	}

	#instructions{
		font-size: 12px;
	}

	#play-button{
		font-size: 50px;
	}

	#colour-add, #colour-list{
		width: 100%;
	}

	input, .colour-remove{
		font-size: 10px;
	}

	#add-button{
		font-size: 14px;
		width: 150px;
	}
}

@media screen and (max-width: 300px){
	.menu-item{
		font-size: 14px;
	}
	.menu-text{
		display: none;
	}

	#instructions{
		font-size: 10px;
	}

	#add-button{
		width: 125px;
		font-size: 12px;
	}

	#play-button{
		font-size: 40px;
	}
}